<mat-toolbar class="header mat-elevation-z4">
  <span>
    <a routerLink="/">
      <img class="logo" src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg" alt="The Movie Database (TMDb)" width="154" height="20">
    </a>
  </span>
  <span class="title-group">
    <a routerLink="{{ routeUrl }}">
          <i class="material-icons">
            {{ icon }}
          </i>
          {{ title }}
    </a>
  </span>
</mat-toolbar>
